{{define "page"}}
<h1> Hare Krishna haribol</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ut iaculis lacus, eget gravida justo. Etiam at dapibus augue. Vestibulum ultricies felis nec eros eleifend volutpat. Suspendisse potenti. Maecenas sed massa risus. Aliquam eget tempor orci, sit amet euismod sapien. Sed sagittis maximus aliquet. Maecenas erat sem, blandit vel orci vitae, semper maximus neque. Sed condimentum nunc id nisl varius, nec hendrerit ante tempor. Sed arcu magna, ornare in velit ut, molestie sollicitudin risus. Etiam ultrices aliquet ultrices. Nulla at lectus lectus. Sed vestibulum massa et lectus ullamcorper, nec congue risus rutrum. Phasellus vitae scelerisque mauris. Duis ornare condimentum orci, et rhoncus nisi vestibulum sit amet.</p>
{{end}}